services:
  wakeup:
    image: kiosk-wakeup:latest
    privileged: true
    env_file:
    - ./.env
    devices:
      - /dev/input/event0:/dev/input/event0
    user: root
    restart: unless-stopped
    depends_on:
      display:
        condition: service_healthy
        restart: true
  display:
    image: kiosk-display:latest
    privileged: true
    env_file:
    - ./.env
    environment:
    - NO_AT_BRIDGE=1
    - XDG_RUNTIME_DIR=/tmp/runtime
    - MESA_LOADER_DRIVER_OVERRIDE=vc4
    - LIBINPUT_UDEV_DISABLE_SUBSYSTEM=1
    - QT_QPA_PLATFORM=wayland
    volumes:
    - ./local:/root/.local
    - /run/udev/:/run/udev/
    - /tmp/runtime:/tmp/runtime
    devices:
      - /dev/dri/card0:/dev/dri/card0
      - /dev/dri/renderD128:/dev/dri/renderD128
      - /dev/input/event0:/dev/input/event0
      - /dev/input/event1:/dev/input/event1
      - /dev/input/event2:/dev/input/event2
    user: root
    network_mode: host
    restart: unless-stopped
